/* Services Page Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

header {
    width: 100%;
}

main {
    margin-top: 20px;
    width: 90%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 30px;
}

section h2 {
    font-size: 24px;
    color: #007BFF;
    margin-bottom: 10px;
}

section p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

section img {
    width: 60%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    color: #007BFF;
    font-size: 16px;
}

ul li a:hover {
    text-decoration: underline;
}

iframe {
    width: 50%;
    height: 400px;
    margin-bottom: 20px;
    align-self: center;
    border: none;
}

/* Footer Styling */
footer {
    text-align: center;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    margin-top: 30px;
    border-radius: 5px;
}
